<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>College Student Information Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
</button>

<nav class="navbar navbar-expand-sm .bg-info navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/index}">College Student Information Management System</a>
    <!-- Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{add-user}" sec:authorize="hasAuthority('ADMIN')">Add Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/table}">Download Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courses}">Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/results}">Score</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/teachers}">Teacher</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/elementcourses}">Course Element</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/departments}">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/majors}">Majors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{upload-file}">Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/fees}">Fees Info</a>
            </li>
            <li class="nav-item">
                <button  style="background-color:#e7e7e7" >  <a th:href="@{/logout}" >Logout </a> </button>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>

<!-- partial:index.partial.html -->
<div class="container"  sec:authorize="!hasAuthority('PROF')">
    <table>
        <thead>
        <tr>
            <th>FILE NAME</th>
            <th>FILE TYPE</th>
            <th>Download</th>



        </tr>
        </thead>
        <tbody>
        <tr th:each="doc:${docs}">
            <td th:text="${doc.name}"></td>
            <td th:text="${doc.filetype}"></td>
            <td><a th:href="@{'/downloadfile?id=' + ${doc.id}}">Download Link</a></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- partial -->

</body>
</html>
